.llamada{
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 500px;
    border-radius: 1px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.256);
    background-color: #8a8a8e63;
}

.llamada h3{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 8px;
    text-align: center;
}

.estatus{
    background: #08084ba5;
    padding: -10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 25px;
}

.icon {
    color: #fff;
    padding-left: 30px;
    margin-top: 20px;
}

#tel{
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-top: 25px;
}

#tiempo{
    margin-top: 15PX;
    display: flex;
    margin-left:70px;
    font-weight: 400;
    font-size: 16px;
    width: 90px;
    height: 28px;
    color: white;
    border-radius: 0px;
    text-align: left;
    padding: 5px;
}

.columnat{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.columna{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-columns: 180px 180px;
    grid-gap: 5px;
}

.c1{
    width: 155px;
}

.c2{
    width: 155px;
}

.malo{
    background-color: red;
}

.normal{
    background-color: rgb(255, 200, 2)
}

.bueno{
    background-color: rgb(92, 215, 78);

}

#tiempo h3{
    margin: 0 auto;
    padding: 0 auto;
}
.sentimiento{
    padding: 3px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sentimiento img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.control{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    margin-top: 20px
}

.callIcon{
    padding-right: 15px;
}

.espera{
    height: 50px;
    background-color: #8788a6 !important;
    color: rgb(245, 242, 242) !important;
    border-radius: 10px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    font-family: 'Poppins', sans-serif !important;
}

.silenciar{
    height: 50px;
    background-color: #8788a6 !important;
    color: rgb(245, 242, 242) !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif !important;
}

.terminar{
    height: 50px;
    background-color: #8788a6 !important;
    color: rgb(245, 242, 242) !important;
    border-radius: 10px !important;
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
}

.espera:hover{
    background-color: #012148 !important;
    color: #9AB6FF !important;
}
  
.silenciar:hover{
    background-color: #012148 !important;
    color: #9AB6FF !important;
}

.terminar:hover{
    background-color: #012148 !important;
    color: #9AB6FF !important;
}

.labelEstado{
    background-color: #070a57 !important;
    color: white;
    margin-top: 40px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 1px
}

.labelEstado h3{
    font-size: 18px;
    font-weight: 500;
}
.estado{
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 15px;
}