
.botonEstadisticas{
    width: 80% !important;
    height: 40px !important;
    background-color: #6164A9 !important;
    color: rgb(245, 242, 242) !important;
    margin-left: 8px !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif !important;
    align-content: center;
  }
  
  .botonEstadisticas:hover{
    background-color: #9AB6FF !important;
    color: #012148 !important;
    
  }
  
  .botonEstadisticas h4{
    font-size: 20px;
  }

  body.active-modal {
    overflow-y: hidden;
    overflow-x: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 1000px;
}

#titulo{
  color:#012148;
  font-size: 25px;
  margin-bottom: -6px;
}

.graficas{
display: grid;
grid-template-columns: 50% 50%;
}

.agente{
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #012148;
  border-radius: 10px;

}

.duracion, .llamadas, .satisfaccion{
  background-color: rgba(102, 94, 94, 0.053);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.duracion h3, .llamadas h3, .satisfaccion h3{
  padding: 10px;
  background-color:  rgba(2, 4, 58, 0.75);
  font-weight: 600;
  font-size: 16px;
}

.pie{
  margin-left: -140px;
}

.close-modal {
  background-color: #012148;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  height: 50px !important;
  background-color: #6164A9 !important;
  color: rgb(245, 242, 242) !important;
  border-radius: 10px !important;
  font-family: 'Poppins', sans-serif !important;
}

.close-modal:hover{
  background-color: #9AB6FF !important;
  color: #012148 !important;
}
