:root{
  --azul-marino: #31356E;
  --azul-oscuro: #012148;
  --azul-claro: #9AB6FF;
  --azul-hielo: #C2D8ED;
  --azul-cobalto: #2D8BBAB2;
  --gris: #D9D9D9;
  --gris-oscuro: #8DA9C47A;
  --gris-medio: #d2cfcfcc;
  --verde: #03AE1A;
  --rojo: #D80303;
  --naranja: #E19E03;
  --lila: #D0A6F8;
  --negro: #000000;
}

.App{
  background-color: white;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.interfaz {
  display: grid;
  grid-template-columns: 1100px 400px; /* Definir dos columnas, una de 1000px y otra de 300px */
  grid-gap: 10px; /* Espacio entre las columnas */
}

.contenedor {
  /* background-color: #4e8ad4; */
  height: 350px;
  width: 305px;
  margin-left: 690px;
}

.contenedor2 {
  background-color: #E3E1E8;
  border-radius: 15px;
  height: 700px;
  width: 500px;
  overflow:auto;
  margin-left: -100px;
}

.contenedor3{
  margin-top: -350px;
  width: 995px;
  height: 305px;
  margin-left: -1px;
}


.contenedor4{
  margin-top: -705px;
  width: 680px;
  height: 345px;
  margin-left: -1110px;
}

.botonAzulMarino{
  width: 290px !important;
  height: 50px !important;
  border-radius: 20px !important;
  background-color: var(--azul-marino) !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonAzulOscuro{
  width: 290px !important;
  height: 50px !important;
  border-radius: 20px !important;
  background-color: var(--azul-oscuro) !important;
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonAzulClaro{
  width: 290px !important;
  height: 50px !important;
  background-color: var(--azul-claro) !important;
  color: black !important;
  border-radius: 20px !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonAzulCobalto{
  width: 290px !important;
  height: 50px !important;
  background-color: var(--azul-cobalto) !important;
  color: black !important;
  border-radius: 20px !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonGris{
  width: 380px !important;
  height: 50px !important;
  background-color: var(--gris-medio) !important;
  color: black !important;
  margin-left: 8px !important;
  border-radius: 20px !important;
  font-family: 'Poppins', sans-serif !important;
}

.botonGris:hover{
  background-color: var(--negro) !important;
  color: white !important;
}

.botonAzulClaro:hover{
  background-color: var(--azul-marino) !important;
  color: white !important;
}

.botonAzulOscuro:hover{
  background-color: var(--azul-hielo) !important;
  color: black !important;
}

.botonAzulCobalto:hover{
  background-color: var(--azul-marino) !important;
  color: white !important;
}

.botonAzulMarino:hover{
  background-color: var(--azul-claro) !important;
  color: black !important;
}

.opcionIcono{
  display: flexbox;
}

